<template>
  <div class="home">
    <h1>Liste de tâches</h1>
    <p>
      Bienvenue sur le site de gestion en ligne de ses listes de tâches. 
      Ici vous pourrez créer, supprimer ou modifier diverses listes de tâches, comme vos liste de courses.
    </p>
    <router-link class="listing" to="/listing">> Mes listes</router-link>
  </div>
</template>

<script>

export default {
  name: 'Home'
}
</script>

<style scoped>
  .home .listing {
    color: black;
    text-decoration: none;
  }

  .home .listing:hover {
    color: blue;
    text-decoration: underline;
  }
</style>
