<template>
	<div class="listing">
		<ListingElement v-for="listingElement in listing" v-bind:key="listingElement.id" v-bind:listingElement="listingElement"></ListingElement>
		<router-link class="add-btn" to="/new">Add</router-link>
	</div>
</template>

<script>
import ListingElement from '@/components/ListingElement';
import Data from '@/common/data';

export default {
	name: 'Listing',
	components: {
		ListingElement,
	},
	data: () => {
		return {
			listing: Data.getLists(),
		};
	}
}
</script>

<style scoped>
	.listing {
		padding-bottom: 4em;
		position: relative;
	}
	.add-btn {
        border: 1px solid black;
        padding: 0.2rem;
        border-radius: 15%;
		font-weight: bold;
		font-size: 1em;
		text-align: center;
        color: black;
        text-decoration: none;
	}
</style>
