<template>
    <div class="list">
		<h1>{{list.name}} ({{list.items.length}} items)</h1>

		<router-link class="add-button" v-bind:to="url">Add</router-link>

		<div>
			<ListItem class="item" v-for="item in list.items" v-bind:key="item.id" v-bind:item="item" v-bind:listId="listId"></ListItem>
		</div>
	</div>

</template>
<script>
    import ListItem from '@/components/ListItem';
    import Data from '@/common/data';

    export default {
        name: 'List',
        components: {
            ListItem
        },
        data: function() {
            return {
                listId: this.$route.params.id,
                list: Data.getContent(this.$route.params.id)
            };
        },
        computed: {
            url() {
                return '/list/' + this.listId + '/add';
            }
        }
    }   
</script>

<style scoped>
	h1 {
		margin-bottom: 1.5em;
	}

	.add-button {
        border: 1px solid black;
        padding: 0.2rem;
        border-radius: 15%;
		font-weight: bold;
		font-size: 1em;
		text-align: center;
        color: black;
        text-decoration: none;
	}

    .item{
        padding: 1rem;
        border: 1px solid lightgrey;
    }
</style>
