<template>
	<div class="new">
		<h1>Créer une liste</h1>
		<input type="text" v-model.lazy="name" placeholder="Nom de la liste" /><br />
		<input type="button" v-on:click="onValidate" value="Sauvegarder">
	</div>
</template>

<script>
import Data from '@/common/data';

export default {
	name: 'New',
	data: () => ({
		name: null,
	}),
	methods: {
		onValidate: function() {
			if(this.name !== null) {
				Data.createList(this.name);

				this.$router.push('/listing');
			}
		}
	}
}
</script>

<style scoped>
	.new {
		text-align: center;
	}

	input {
		box-sizing: border-box;
		width: 50%;
		padding: 0.5rem;
		margin: 0.5rem 0;
		border: 1px solid lightgray;
	}
</style>
