<template>
	<footer>
		Site créé par Bayart Valentin
	</footer>
</template>

<script>
export default {
	name: 'Footer'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	footer {
        background-color: lightgray;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 1em;
		padding: 0.5em;
	}
</style>
