<template>
	<header>
		<router-link class="home" to="/"><img src="../assets/logo.png" /></router-link>
		<router-link class="listing" to="/listing">Mes listes</router-link>
	</header>
</template>

<script>
export default {
	name: 'Header'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	header {
        background-color: lightgray;
		margin: auto;
		padding: 1rem 2rem;
        padding-bottom: 3rem;
	}

    header .home {
        float: left;
    }

	header img {
		max-height: 4vh;
	}

	header .listing {
        float: right;
        color: black;
        text-decoration: none;
		font-size: 1.5rem;
	}

    header .listing:hover {
        color: blue;
        text-decoration: underline;
    }
</style>
