<template>
	<router-link v-bind:to="url">
		<fieldset>
			<h2>{{listingElement.name}}</h2>
			<p>{{listingElement.itemCount}} items</p>
			<span class="list-arrow">➡</span>
		</fieldset>
	</router-link>
</template>

<script>
export default {
	name: 'ListingElement',
	props: ['listingElement'],
	computed: {
		url: function() {
			return '/list/' + this.listingElement.id;
		}
	}
}
</script>

<style scoped>
	fieldset {
		margin-bottom: 1em;
		min-height: 5em;
		position: relative;
		padding-top: 1em;
	}

	fieldset h2 {
		margin-top: 0;
        color: dimgrey;
	}

    fieldset p {
        color: dimgrey;
    }

	.list-arrow {
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 2.5rem;
		color: black;
	}
</style>