<template>
	<div class="list-item">
		<input type="checkbox" v-bind:checked="item.checked" v-on:click="checkItem" />
		<span class="name">{{item.name}}</span>
		<input type="button" value="X" v-on:click="deleteItem" />
	</div>
</template>

<script>
import Data from '@/common/data';

export default {
	name: 'ListItem',
	props: ['listId', 'item'],
	methods: {
		checkItem: function() {
			Data.checkItemFromList(this.listId, this.item.name);
		},
		deleteItem: function() {
			Data.deleteItemFromList(this.listId, this.item.name);
			this.$router.go();
		}
	}
}
</script>

<style scoped>
	.list-item {
		margin: 1em 0;
	}

	.list-item input[type="checkbox"] {
		transform: scale(1.5);
		padding: 10px;
	}

	.list-item .name {
		width: 95%;
		display: inline-block;
	}
</style>